.button {
    align-items: center;
    width: 70px;
    height: 30px;
    display: flex;
    justify-content: center;
}

.primary {
    background: var(--primary);
    color: white;
    border: none;
}

.button:hover {
    box-shadow: 10px 10px 15px -9px rgba(0,0,0,0.75);
    transition: 0.5s;
}

.button:disabled {
    background: var(--locked);
    opacity: 0.5;
    box-shadow: none;
}